.arrow {
    opacity: 0;
    position: absolute;
    left: 49%;
    top: 50%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
    margin-top: 60px;
}

.arrow_first {
    animation: arrow-movement 2s ease-in-out infinite;
}
.arrow_second {
    animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

@keyframes arrow-movement {
    0% {
        opacity: 0;
        top: 45%;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.banner_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20vh;
    /* margin-left: 10vw; */
}
.banner {
    color: white;
    font-size: 36px;
    display: flex;
    justify-content: center;
}
.section_wrapper {
    position: relative;
    width: 100%;
    height: 70vh;
    background: #202020;
    overflow: hidden;
}
.logo_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
}
.logo {
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 65vh;
}
.content_wrapper {
    position: relative;
    width: 100%;
    min-height: 50vh;
    overflow: hidden;
}
.content {
    width: 100%;
    min-height: 40vh;
    position: relative;
    justify-content: center;
    text-align: center;
}
.dropdown {
    min-width: 150px;
}
.form_wrapper {
    width: 150px;
}
.btn_register {
    margin-top: 20px;
    min-width: 150px;
    background: #ec922c;
    border-color: #ec922c;
}
.btn_register.active {
    margin-top: 20px;
    min-width: 150px;
    background: #ec922c;
    border-color: #ec922c;
}
.btn_login {
    margin-top: 20px;
    min-width: 150px;
    background: #20d892;
    border-color: #20d892;
}
section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: url(../../../src/images/wave2.png);
    background-size: 1000px 40px;
}
section .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0px;
}
section .wave.wave2 {
    animation: animate 5s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -2s;
    bottom: 10px;
}
section .wave.wave3 {
    animation: animate 10s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -5s;
    bottom: 20px;
}
section .wave.wave4 {
    animation: animate 15s linear infinite;
    z-index: 1000;
    opacity: 0.1;
    animation-delay: 0s;
    bottom: 30;
}
@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}
