.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.banner_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15vh;
    margin-bottom: 14vh;
}
.banner {
    color: white;
    font-size: 36px;
    display: flex;
    justify-content: center;
}
.section_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 50vh;
    background: #202020;
    overflow: hidden;
}
.logo_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
}
section .wave {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: url(../../../src/images/wave2.png);
    background-size: 1000px 40px;
}
section .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
}
section .wave.wave2 {
    animation: animate 5s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -2s;
}
section .wave.wave3 {
    animation: animate 10s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -5s;
}
section .wave.wave4 {
    animation: animate 15s linear infinite;
    z-index: 1000;
    opacity: 0.1;
    animation-delay: 0s;
}
@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}
